.clearfix:after{
	content: ".";
	display: block;
	visibility: hidden;
	height: 0;
	clear:both;
}
.clearfix{
	zoom:1;
}
.register_logo{
    width: 1000px;
    height: 68px;
    margin: 20px auto;
    /* border:1px solid red; */
}
.lef{
    float:left;
}
.rig{
    float:right;
    margin:20px 0;
}
.szy_contentBox{
    width: 1000px;
    margin:30px auto;
    /* border:1px solid red; */
}
.szy_byline{
    color:#9c2b4d;
    font-size: 22px;
    margin:40px 30px;
    
}
.step{
    width: 960px;
    height: 120px;
    border-bottom:1px solid #c8c8c8;
    margin:10px 20px;
    position: relative;
}

.szy_bg{
    width: 38px;
    height: 38px;
    background:#bfbab4;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    color:white;
    border:3px solid #efefef;
    font-size: 23px;
    float:left;
    /* font-weight: bold; */
    margin:20px 0;
}
.rido1{
    margin-left: 10px;
}
.szy_bgend{
    width: 245px;
    height: 2px;
    background:#bfbab4; 
    float:left;
    margin:40px 3px;
}
.szy_qr{
    position: absolute;
    left:3px;
    top: 63px;
    font-size: 15px;
}
.szy_yz{
    position: absolute;
    left:298px;
    top: 63px;
    font-size: 15px;
}
.szy_sz{
    position: absolute;
    right:309px;
    top: 63px;
    font-size: 15px;
}
.szy_wc{
    position: absolute;
    right:27px;
    top: 63px;
    font-size: 15px;
}
.szy_bgcolor{
    background:#9c2b4d;
}
.szy_color{
    color:red;
}
.password_input{
    width: 400px;
    height: 225px;
    /* border:1px solid red; */
    margin-left: 300px;
    margin-top: 40px;
    position: relative;
}
#username{
    width: 292px;
    height: 38px;
    padding-left: 10px;
}
.szy_code{
    margin:35px 0;
}
.szy_loginName{
    position: absolute;
    left:43px;
    top: 40px;
    color:gray;
    display: none;
}
.szy_loginCode{
    position: absolute;
    left:43px;
    top: 115px;
    color:gray;
    display: none;
}
#idcode{
    margin-left: 30px;
}
#Txtidcode{
    width: 157px;
    height: 38px;
    padding-left: 10px;
}
.szy_affirm{
    width: 137px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #95193e;
    color:white;
    margin:56px;
}
.szy_affirm a{
    font-size: 17px;
    color:white;
}
.szy_affirm:hover{
    background: #9c2b4d;
}
.szy_hint{
    margin-left: 357px;
    color:gray;
}
.szy_hint a{
    color:red;
    text-decoration: none;
}
.szy_bottom{
    width: 900px;
    height: 60px;
    margin:0 auto;
    text-align: center;
    line-height: 27px;
    color:gray;
}
.szy_bottom_img{
    width: 650px;
    height: 50px;
    margin:0 auto;
    margin-top: 30px;
}
